* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  background-color: #1f1f1f;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
}

.screen {
  background-color: #ededed;
  border-radius: 24px;
  height: auto;
  width: 400px;
  display: flex;
  flex-direction: column; /* Stack children vertically */
  position: relative;
  padding: 24px;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
}

.logo {
  height: 64px;
  width: 64px;
}

.wishlist-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 48px;
  color: #263238;
}

img {
  padding: 24px;
}

h1 {
  margin-bottom: 12px;
}

.color-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 12px;
  padding-top: 12px;
}

input {
  display: none;
}

label {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  cursor: pointer;
}

#orange-button {
  background-color: orange;
}
#black-button {
  background-color: black;
}
#white-button {
  background-color: white;
}
#gray-button {
  background-color: #515151;
}

input:checked + label {
  box-shadow: 0 0 4px #06cf9c;
  border: 2px solid #06cf9c;
}

.size-container {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 12px;
}

.size-button {
  height: 48px;
  width: 48px;
  cursor: pointer;
  margin: 12px;
  border: transparent;
  border-radius: 12px;
  background-color: #e4e6e7;
}

.size-button:focus {
  background-color: #000;
  color: #fff;
}

.cart-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-button {
  color: #fff;
  background-color: #000;
  padding: 12px 24px;
  border-radius: 24px;
}
